<%= error_messages_for :post, :header_tag => 'h4', :class =>'hide' %>

<fieldset class='control-group'>
  <%= f.label :title, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :title, :class => 'input-xxlarge' %>
  </div>
</fieldset>
<fieldset class='control-group'>
  <%= f.label :body, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_area :body, :class => 'input-xxlarge', :rows => 20, :cols => 20 %>
  </div>
</fieldset>


<div class="actions">
  <%= f.submit '保存', :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit '保存并继续', :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= f.submit '取消', :onclick => "window.location='#{url(:posts, :index)}';return false", :class => 'btn' %>
</div>
